<%- include("templates/header") %>

<h1>Detalles del Producto</h1>
<div class="contenedor">
    <h4>Nombre: <%= nombre %></h4>
    <p>Descripción: <%= descripcion %></p>
    <p>Precio: <%= precio %></p>
    <p>Stock disponible: <%= stock %></p>
</div>

<%- include("templates/footer") %>
